.parent{
    background: #f7f7f7;
    display: flex;
    height: 31em;
}

.child1{
    width: 35%;
    height: 20%;
    margin-top: 3%;
    margin-left: 9%;
}

.child1 h3{
    font-size: 1.9rem;
    width: 68%;
}


.child1 p{
  font-size: 0.9rem;
  width: 89%;
}

.child2{
    width: 65%;
}

.circle{
    width: 83.5%;
    margin-top: 125px;
}

.phone{
    width: 54%;
    top: -5%;
    position: relative;
    margin-top: -60em;
    margin-left: 7em;
}

.imag{ 
    display: flex;
    gap: 14px;
}

button{
     margin-top: 20px;
     padding:18px 46px;
     color: white;
     font-size: 20px;
     border: none;
     border-radius: 35px;
     background-color: #208573;
}