.body{
    background:#F6F6F6;
}

.countries-slide img{
    width: 16rem;
}


.countries-slide2 img{
    width: 16rem;
}


  @keyframes slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
  }  


.countries{
    overflow: hidden;
    padding: 40px 0;
}

.countries-slide{
    white-space: nowrap;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 0 80px;
    animation: 5s slide infinite linear;
}


.countries-slide2{
    white-space: nowrap;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 0 80px;
    animation: 5s slide infinite linear;
}

.countries2{
    overflow: hidden;
    padding: 30px 0;
    padding-left: 40px;
}
